.btn{
    display: block;
    margin:0 auto;
    width: 100%;
    font-size: 1.8rem;
    line-height:1;
    font-weight:300;
    text-transform: uppercase;
    color:white;
    background: #950740;
    padding:0;
    border:0;
    outline:none;
    cursor: pointer;
}